/*These elements all have to do with the sliding header*/
.scroll-pane{
	height: 650px;
	background-color: grey;
}

/*This div contains the entire 1200 by 650 slider console*/
#slider {
	height: auto;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: blue;
}

/*This div contains the bar on the side that shows all slider options*/
#side-bar {
	height: 650px;
	width: 300px;
	position: absolute;
	margin-left: 900px;
	margin-right: 1200px;
	overflow: hidden;
	background-color: green;
}

.side-view {
	width: 300px;
	height: 220px;
	margin-top: 0px;
	position: absolute;
}

.side-view img {
	width: 300px;
	height: 100%;
	position: absolute
}

/*This div contains the 900 by 650 box that houses the sliding images/items*/
#view-box{
	height: 650px;
	width: 900px;
	position: absolute;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

/*This is the class for each individual slider which are differentiated by
their numbered id attribute*/
.slider-view{
	height: 650px;
	width: 900px;
	overflow: hidden;
	position: absolute;
}

/*If one of your slider-view divs has an image, it is resized here*/
.slider-view img{
	height: 650px;
	width: 900px;
	position: absolute;
}
